<a href="https://colab.research.google.com/github/kimjonggwon/colab/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

4장

In [ ]:
var1 = 100
var2 = 3.14
var3 = "안산공고"
var4 = True
print(var1, "변수의 데이터 타입은 " ,type(var1))
print(var2, "변수의 데이터 타입은 " ,type(var2))
print(var3, "변수의 데이터 타입은 " ,type(var3))
print(var4, "변수의 데이터 타입은 " ,type(var4))

100 변수의 데이터 타입은  <class 'int'>
3.14 변수의 데이터 타입은  <class 'float'>
안산공고 변수의 데이터 타입은  <class 'str'>
True 변수의 데이터 타입은  <class 'bool'>

In [ ]:
var1 = input("첫 번쨰 문자열 ==>")
var2 = input("두 번째 문자열 ==>")

len1 = len(var1)
len2 = len(var2)
          
diff = len1 - len2

print("두 문자열의 길이 차이는", diff, "입니다.")

In [ ]:
str1 = input("문자열 입력 :")
print("입력된 문자열의 길이 :", len(str1))
print("입력된 문자열을 대문자로 변환 : ", str1.upper())
print("입력된 문자열을 소문자로 변환 : ", str1.lower())
print("입력된 문자열 중 ansan 몇번 나오는지 :", str1.)

리스트 예제

In [5]:
myList =[10, 20, 30, "안산", "공고", "배트맨"]
#print(myList)
print(myList[3])
print(myList[2:4])

안산
[30, '안산']

In [8]:
str1 = "안산공고 컴퓨터과 파이썬 수업"
print(str1[0])
print(str1[0:4])
print(str1[10:14])
print(str1[:14])
print(str1[0:])
print(str1[-1])

안
안산공고
파이썬
안산공고 컴퓨터과 파이썬
안산공고 컴퓨터과 파이썬 수업
업

In [9]:
singer = input("가수 이름을 입력 : ")
singer_length = len(singer)
#print(singer_length)
r_singer= ""
while singer_length > 0 :
  r_singer = r_singer + singer[singer_length-1]
  singer_length = singer_length -1
print(r_singer)

가수 이름을 입력 : 트와이스
스이와트